*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	overflow: hidden;
	scrollbar-width:thin;
}
.scroll{
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type:y mandatory;

}
.scroll > div{
	scroll-snap-align:start;
}
.front{
    background: rgb(196,138,247);
	background: linear-gradient(0deg, rgba(196,138,247,1) 0%, rgba(0,1,57,1) 100%);
	z-index: -1;
	position: relative;
	height:100vh;
	width:100vw;
	display:grid;
	grid-template-rows: 9fr 1fr;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	color:#ffffff;
	font-family: Lemonada;
	font-size: 3vw;
}
.post{
	justify-self:center;
	align-self: end;
}
.tech{
	position: relative;
	width:100vw;
	height:100vh;
	max-width: 100vw;
	max-height: 100vh;
	background-image: url(techimage.png);
	background-size: 100% 100%;
}
.techtag{
	text-shadow: -1px 1px 0 #000,1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
	color: #ffffff;
	position: absolute;
  	left:5%;
  	bottom:5%;
  	font-size: 8vw;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Hind;
}