*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
.container{
	top:-0.5rem;
	margin: 0;
	z-index: 0;
	width: auto;
	max-height: 100%;
	position: relative;
	height:auto;
	max-width: 100%;
	display: flex;
	align-items: center;
	
	flex-direction: column;
	font-size: 3vw;
	color: white;
	font-family: 'Lemonada', cursive;
}
.logo{
	z-index: 0;
	width: auto;
	max-height: 100%;
	position: relative;
	height:auto;
	max-width: 100%;
}
@media only screen and (max-width: 600px){
	.container{
		margin-top: 3rem;
	}
}