*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.menu{
	top:0;
	z-index: 10;
	position: fixed;
	list-style: none;
	width: 100vw;
	height: auto;
	background-color: rgb(6,5,63);
}
.menu > ul {
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
	display:flex;
	justify-content: space-around;;
}
.menu > ul > li{
	text-transform: uppercase;
	padding-left: 5px;
    padding-right: 5px;
	position: relative;
	text-align: center;
	display: inline-block;
}
.menu > ul > li > a{
	font-weight: 500;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
	cursor: default;
	color: white;
	text-decoration: none;
}
.menu > ul > li > a::before{
	content:'';
	transform: scaleX(0);
	position:absolute;
	width:100%;
	height:2px;
	bottom:0;
	left:0;
	background-color:white;
	transition: transform 0.2s ease-out;
	transform-origin: bottom right;
}
.menu > ul > li > a:hover::before{
	transform: scaleX(1);
	transform-origin: bottom left;
}
.burger{
	visibility: hidden;
	top:0;
	z-index: 10;
	position: fixed;
	list-style: none;
	width: auto;
	height: auto;
	background-color: rgb(6,5,63);
}
@media only screen and (max-width: 600px){
	.menu{
		visibility: hidden;
	}
	.burger{
		visibility: visible;
	}
	.ham{
		position: fixed;
		top: 0.5rem;
		left: 0.5rem;
		width: 60px;
		height: 60px;
		border: 1px solid black;
		border-radius: 50%;
		background-color: black;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s ease-out;
	}
	.ham > div{
		position: absolute;
		width:60%;
		height:2px;
		background-color: white;
		border-radius:1.5px;
		transition: 0.4s ease-out;
	}
	.ham > div::before{
		position: absolute;
		content: '';
		width:100%;
		height:2px;
		background-color: white;
		border-radius: 1.5px;
		top:-10px;
		transition: 0.4s ease-out;
	}
	.ham > div::after{
		position: absolute;
		content: '';
		width:100%;
		height:2px;
		background-color: white;
		border-radius: 1.5px;
		top:10px;
		transition:0.4s ease-out;
	}
	.check:checked + .ham{
		transform: rotate(135deg);
	}
	.check:checked + .ham > div::after ,.check:checked + .ham > div::before{
		top:0;
		transform: rotate(90deg);
	}
	.check{
		position: fixed;
		top: 0.5rem;
		left: 0.5rem;
		width: 60px;
		height: 60px;
		z-index: 4;
		opacity: 0;
		cursor: pointer;
	}
	.list{
		z-index: 1;
		position: absolute;
		top:0;
		left: 50%;
		background-color: rgb(24, 18, 46);
		opacity: 0;
		width: 100%;
		height:100%;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100%;
		border-radius: 45%;
		border-top-left-radius: 0%;
		transform: translateX(-150%) translateY(-50%); 
		box-shadow: 0px 0px 140px 110px rgba(40,30,80,1);
		transition: 0.6s;
	}
	.list > div{
		max-width: 90vw;
		max-height: 100vh;
		opacity: 0;
		transition: 0.8s ease-out;
	}
	.list > div > ul > li{
		margin:1rem;
		text-align: center;
		display: block;
		list-style: none;	
	}
	.list > div > ul > li > a{
		position: relative;
		text-transform:uppercase;
		text-decoration: none;
		color: #fff;
		list-style: none;
		font-weight: 550;
		text-transform: uppercase;
		transition: .3s;
		font-size: 16px;
	    font-family: 'Hind', sans-serif;
	}
	.check:checked ~ .list{
		opacity: 1;
		transform:translateX(-50%)translateY(-50%);
	}
	.check:checked ~ .list > div{
		opacity: 1;
	}
	.list > div > ul > li > a::before{
		content:'';
		transform: scaleX(0);
		position:absolute;
		width:100%;
		height:2px;
		bottom:0;
		background-color:#a63f6c;
		transition: transform 0.2s ease-out;
		transform-origin: bottom right;
	}
	.list > div > ul > li > a:hover::before{
		transform: scaleX(1);
		transform-origin: bottom left;
	}
	.list > div > ul > li > a:hover{
		color:#a63f6c;
		font-weight: bold;
	}	
}