*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,body{
	background-color: rgba(230,230,230,1);
	width:100%;
	height:100%;
	overflow-x: hidden;
	max-height:100%;
	-ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
::-webkit-scrollbar{
	width:0px; /* Chrome */
	height: 0px;
}
header{
	z-index: 99999999;
	position: sticky;
	top:0;
	width:100%;
    height:16%;
}
footer{
	position: relative;
	height:65%;
    width:100%;
}
.categories{
	width:98%;
	height:auto;
	padding:1%;
	margin:2% 1%;
	background-color: white;
}
.categories > h1{
	padding:1% 0% 1% 0%;
}
.categories > h1 > a,a:visited,a:hover,a:active{
	color: #000139;
}
.categories > div{
	height:40vh;
	width:100%;
}
.categories > div > a{
	height:100%;
}
a:link{
	text-decoration: none;
}
.categories > div > a > img{
	height:100%;
	width:auto;
}
@media screen and (max-width: 800px){
	footer{
		display: none;
	}
	header{
		height:10%;
	}
}
